<!DOCTYPE html>
<html>
<head>
    <title>Administrador</title>
    <link rel="stylesheet" type="text/css" href="Administrador.css">
</head>
<body>
<header>
    <h1>Admnistrador</h1>
</header>
<main>
    <form>
        <a href="Parqueadero.html" class="custom-btn btn-3">Inicio</a>
        <a href="Datos.html" class="custom-btn btn-3">Ingresar Vehiculo</a>
        <label for="placa">Placa:</label>
        <input type="text" id="placa" name="placa" required>

        <label for="tipo">Tipo:</label>
        <select id="tipo" name="tipo" required>
            <option value="carro">Carro</option>
            <option value="moto">Moto</option>
        </select>

        <label for="hora_entrada">Hora de entrada:</label>
        <input type="time" id="hora_entrada" name="hora_entrada" required>

        <label for="fecha_entrada">Fecha de entrada:</label>
        <input type="date" id="fecha_entrada" name="fecha_entrada" required>
        <script>
  function guardarDatos() {
    var placa = document.getElementById('inputPlaca').value;
    var fechaEntrada = document.getElementById('inputFecha').value;
    var horaEntrada = document.getElementById('inputHora').value;
    var tipoVehiculo = document.getElementById('inputTipo').value;

    // Aquí puedes realizar la lógica para guardar los datos en algún lugar, como una base de datos o una estructura de datos en memoria

    // Luego, puedes llamar a una función en la segunda interfaz para actualizar la tabla con los nuevos datos ingresados
    actualizarTabla(placa, fechaEntrada, horaEntrada, tipoVehiculo);
  }
</script>
    </form>
</main>
<footer>
    <p>Gracias por su confianza</p>
</footer>
</body>
</html>