<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos</title>
    <link rel="stylesheet"href="Datos.css">
</head>
<body>
<table class="rwd-table">
    <tr>
        <th>placa</th>
        <th>fecha de entrada y salida</th>
        <th>tipo</th>
        <th>hora</th>
        <th>mensualidad</th>
        <th>Valor total</th>

    </tr>
    <tr>
        <td data-th="placa">sbf-14g</td>
        <td data-th="fecha entrada y salida">12/03/2023 a 13/03/2023</td>
        <td data-th="tipo de vehiculo">moto</td>
        <td data-th="horas en el parqueadero">5h</td>
        <td data-th="mensualidad">si</td>
        <td data-th="valor">50.000</td>
    </tr>
    <tr>
        <td data-th="placa">hgf-20d</td>
        <td data-th="fecha entrada y salida">10/03/2023 a 15/03/2023</td>
        <td data-th="tipo de vehiculo">carro</td>
        <td data-th="horas en el parqueadero">7h</td>
        <td data-th="mensualidad">no</td>
        <td data-th="valor">5.000</td>
    </tr>
</table>
<button  onclick="location.href='Parqueadero.html';" class="custom-btn btn">Inicio
</body>
</html>