<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina web</title>
    <link rel="stylesheet"href="parqueadero.css">
</head>
<body>

<div class="container">
    <h1>Parqueadero KM</h1>
        <p>La mejor seguridad automotriz al alcance de un click</p>
        <form>
            <a href="Usuario.html" class="custom-btn btn-3">Usuario</a>
            <a href="Registrate.html" class="custom-btn btn-3">Registrate</a>
            <a href="Administrador.html" class="custom-btn btn-3">Entrada</a>
            <a href="Salida.html" class="custom-btn btn-3">Salida</a>
        </form>
    <div class="login-items">
        <button class="fb"><i class="fab fa-facebook-f"></i> Acceder con Facebook</button>
        <button class="tw"><i class="fab fa-twitter"></i> Acceder con Twitter</button>
        <button class="correo"><i class="fas fa-envelope"></i> Acceder con Correo</button>
    </div>
</div>
</body>
</html>