<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <link rel="stylesheet" href="parqueadero.css">

  <title>UI Login</title>
</head>
<body>

<div class="container">
  <div class="login-container">
    <div class="register">
      <a href="Parqueadero.html" class="custom-btn btn-3">Inicio</a>
      <form action="">
        <input type="text" placeholder="Nombre" class="nombre">
        <input type="number" placeholder="Cedula" class="cedula">
        <input type= "text" placeholder="Placa" class="placa">
        <input type="submit" value="REGISTRARSE">

      </form>
    </div>
  </div>
</div>
</body>
</html>