<!DOCTYPE html>
<html>
<head>
  <title>Salida de vehiculo</title>
  <link rel="stylesheet" type="text/css" href="parqueadero.css">
</head>
<body>
<a href="Parqueadero.html" class="custom-btn btn-3">Inicio</a>
<h1>Salida de vehiculo</h1>
<form>
  <label for="placa">Placa:</label>
  <input type="text" id="placa" name="placa">
  <br>
  <label for="hora_entrada">Hora de entrada:</label>
  <input type="text" id="hora_entrada" name="hora_entrada">
  <br>
  <label for="hora_salida">Hora de salida:</label>
  <input type="text" id="hora_salida" name="hora_salida">
  <br>
  <label for="valor">Valor a pagar:</label>
  <input type="text" id="valor" name="valor" readonly>
  <br>
  <input type="submit" value="Calcular">
</form>
</body>
</html>
